/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* Imports for skills*/
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

/* OVERALL ASPECT */

body {
  background-color: #ecf5fc;
  background-image: url("../images/funky-lines.png");
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #2873a6;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #7d2b2a;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  font-weight: 200;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.mt {
  margin-top: 40px;
}

/* Links */
a {
  color: #7d2b2a;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7d2b2a;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #85c1e9;
  border-bottom: 5px solid #7d2b2a;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2ce;
  background-color: #85c1e9;
}

#nav {
  color: #7d2b2a;
}

.navbar-brand {
  font-size: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-theme {
  color: #2873a6;
  background-color: #85c1e9;
  border-color: transparent;
}

.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 0px;
}

.lead {
  letter-spacing: 1px;
}

/* WRAP SECTIONS */

/* hello */
#hello {
  width: 100%;
  padding-top: 285px;
  padding-bottom: 285px;
}

#hello h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #2873a6;
}

#hello h2 {
  color: #7d2b2a;
  font-weight: 500;

}

/* portfolioPic */
.portfolioPic {
  background-color: #2873a6;
  padding-top: 50px;
  margin-bottom: 0px;
}

.portfolioPic h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 35px;
}

.portfolioPic p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

/* Coding Tools */
.icon-social{
	width: 95px;
	height: 95px;
	border: 1px solid #000000;
	margin-top: 15px;
  margin-bottom: 10px;
}

.float-left{
	float: left;
}

.margin-right-social{
	margin-right: 15px;
}

.container-cover{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/* Skills */

/* Variables */
@colorBase: rgba(68, 138, 175, 1);

/* Mixins */
/* .transition (@prop: all, @time: 1s, @ease: linear) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
} */
.universal-inline-block {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.skills-list {
  /* display:  flex; */
  /* flex-wrap: wrap; */
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
   
}

.skills-list ul {
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
    margin: 0;
    padding: 5px;
}

.skills-list li {
    text-align: center;
    flex-wrap: wrap;
    font-weight: bold;
    width: 25.0%;
    margin-bottom: 3px!important;
    background-image: url("../images/funky-lines.png");
    border: 1px solid #eee;
    display: inline-block;
    font-size: 10px;
    padding:0;
}

.skills-list i {
  display: flex;
  margin: 0 auto 10px auto;
	width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 40px;
    color: #444444;
  margin-top:0;
  padding-top:5px;
}
.skills-list a{
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}

.skills-list a span{
  color:black;
  font-size:10px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'Josefin Sans';
  letter-spacing:1px;
}

#skills {
  background-color: #7d2b2a;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

#skills h3 {
  color: white;
}

#skills p {
  color: white;
  font-weight: 400;
}

/* Social Links */
#social {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

#social i {
  font-size: 50px;
  color: #2873a6;
}

#social .col-md-3:hover {
  background-color: #f5f5f5;
}

#social .col-md-3 {
  padding: 30px;
}

/* Footer */
#f {
  padding-top: 20px;
  background-color: #85c1e9;
}

#f p {
  color: white;
  text-align: right;
  font-weight: 400;
}

/* Image Opacity */
.grid img {
  opacity: 0.7;
}
.grid img:hover {
  opacity: 1;
}
